<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>Price:</b>
  <%= @product.price %>
</p>


<p>
  <%= form_tag payments_create_path do %>

    <%= label_tag :credit_card_number, 'Credit Card Number'  %>
    <%= text_field_tag :credit_card_number %>

    <%= label_tag :cvv, 'CVV'  %>
    <%= text_field_tag :cvv %>

    <%= label_tag :expiration_date, 'Expiration Date'  %>
    <%= text_field_tag :expiration_date %>
    
    <%= submit_tag 'Purchase' %>

  <% end %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
